<h2>List Persons</h2>

<!--
<div class="listPerson">
  <label type="text" id="label">ID || NAME || SURNAME || AGE</label>
  <div class="person" *ngFor="let value of personArray" style="list-style: none;">
    <p type="text" id="person">{{value.id}} || {{value.name}} || {{value.surname}} || {{value.age}}</p>
  </div>
</div>
-->
<div class="filter">
  <div>
    <div class="filterBy">Filter by:</div>
    <input type="text"
           [(ngModel)]='listFilter'/>
  </div>
  <div class="filteredby">
    <div class="filteredByValue">
      Filtered by: {{_listFilter}}</div>
  </div>
</div>
<div class="listPerson">
  <table class="table">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          NAME
        </th>
        <th>
          Surname
        </th>
        <th>
          Age
        </th>
      </tr>
    </thead>
    <tbody>
      <div class="person" *ngFor="let value of filteredPerson" style="list-style: none;">
        <tr>
          <th>
            {{value.id
      }}
      </th>
      <th>
        {{value.name}}
      </th>
      <th>
        {{value.surname}}
      </th>
      <th>
        {{value.age}}
      </th>
      </tr>
    </div>
  </table>
</div>
