<h2>List Persons</h2>

<div class="filter">
  <div>
    <div class="filterBy">Filter by:</div>
    <input type="text"
           [(ngModel)]='listFilter' />
  </div>
  <div class="filteredby">
    <div class="filteredByValue">
      Filtered by: {{_listFilter}}
    </div>
  </div>
</div>
<div class="listPerson">
  <table class="table">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          NAME
        </th>
        <th>
          Surname
        </th>
        <th>
          Age
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let value of filteredPerson" style="list-style: none;">
      <tr>
        <th>
          {{value.id}}
        </th>
        <th>
          {{value.name}}
        </th>
        <th>
          {{value.surname}}
        </th>
        <th>
          {{value.age}}
        </th>
      </tr>
  </table>
</div>
