header img {
  width: 2%;
}
header h1 {

}

.container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: nowrap;
  background-color: lightyellow;
}

.menu {
  width: 30%;
  border: 2px dashed red;
}

.detail {
  width: 70%;
  border: 2px dashed green;
}

