header img {
  width: 2%;
}

.container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: nowrap;
  background-color: lightyellow;
}

.ToolBar {
  width: 15%;
  border: 2px dashed palevioletred;
}


